# Explore whether the Zillow Data has the accurate substation attached

The substation attachment to the Zillow house data was completed before the  start of this project. This repository explores the accuracy of the pre-assingments.

In [ ]:
# load necessary libraries
import pandas as pd
import numpy as np
import geopandas as gpd
import matplotlib.pyplot as plt
import shapely # to make the lat and long of the zillow data into a gpd object
from shapely.geometry import box  # To create polygon bounding box
import glob
import folium

In [3]:
# SDGE substation polygons
sdge_substations = gpd.read_file("../../../../capstone/electrigrid/data/utilities/sandiego_grid/substation_sdge.geojson")

In [5]:
# read in the zillow geo data 
zillowmap = gpd.read_file("../../../../capstone/electrigrid/data/buildings/final_zillow.gpkg")

In [13]:
# read in zillow csv
zillow_sub_data = pd.read_csv("../../../../capstone/electrigrid/data/buildings/zillow_cats_ica_joined.csv")

In [14]:
zillow_sub_data.head()

,bus_i,kV,Type,Sub,p_ID,area,GEOID,ID,X,Y
0,1.0,115.0,'Substation',jenney,h1334,Others,6.001427e+09,1746.0,-122.242977,37.772369
1,2.0,66.0,'Substation',NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,66.0,'Substation',NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,230.0,'Substation',castro valley,167,PGE/SCE,6.001431e+09,153.0,-122.061266,37.691784
4,5.0,115.0,'Substation',jarvis,67,PGE/SCE,6.001440e+09,65.0,-122.017544,37.595334

**Note: Zillow data takes 12 minutes to load with subpar internet**


### Clip the Zillow data using the San Diego Substation polygons

First check the CRS.

In [6]:
sdge_substations.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [7]:
zillowmap.crs

<Projected CRS: EPSG:26910>
Name: NAD83 / UTM zone 10N
Axis Info [cartesian]:
- E[east]: Easting (metre)
- N[north]: Northing (metre)
Area of Use:
- name: North America - between 126°W and 120°W - onshore and offshore. Canada - British Columbia; Northwest Territories; Yukon. United States (USA) - California; Oregon; Washington.
- bounds: (-126.0, 30.54, -119.99, 81.8)
Coordinate Operation:
- name: UTM zone 10N
- method: Transverse Mercator
Datum: North American Datum 1983
- Ellipsoid: GRS 1980
- Prime Meridian: Greenwich

In [10]:
# change the crs to the crs of the sd data 
sd_zillow = zillowmap.to_crs('EPSG:4326')

assert sdge_substations.crs == sd_zillow.crs

In [11]:
# clip the zillow data using the san diego
sd_zillow = gpd.clip(sd_zillow, sdge_substations)

### Convert the Zillow csv to gpd

In [ ]:
point_list = [shapely.geometry.Point(x) for x in [X, Y]]
coords = [(p.x, p.y) for p in point_list]
polygon1 = shapely.geometry.Polygon(coords)
final_list.append(polygon1)